@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$sky-blue: #c2ded1;
$very-light-grey: #ece5c7;
$light-grey: #cdc2ae;
$dark-blue: #354259;
$poppins: "Poppins", sans-serif;
$shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
