@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

$sky-blue: #c2ded1;
$very-light-grey: #ece5c7;
$light-grey: #cdc2ae;
$dark-blue: #354259;
$poppins: "Poppins", sans-serif;
$amatic: "Amatic SC", cursive;
$shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
