@import "./variables";

.all-quotes {
  padding: 0 1.5rem;

  &__card {
    background-color: $sky-blue;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 25vh auto;
  }

  &__empty {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: $dark-blue;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    row-gap: 1rem;
  }

  &__content {
    max-width: 65%;
    text-align: start;
    color: $dark-blue;

    & h2 {
      font-weight: 500;
      font-size: 1.2rem;
    }

    & span {
      font-weight: 300;

      font-size: 0.9rem;
    }
  }

  &__button {
    display: flex;
    align-self: flex-end;
    column-gap: 1rem;
  }
}
