@import "./variables";

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  margin: 0 1.5rem;
  margin: 2rem auto;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    background-color: $sky-blue;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: $shadow;

    & textarea {
      border: 2px solid $dark-blue;
      border-radius: 0.25rem;
      padding: 1rem;
      color: $dark-blue;
    }
  }
}

@media (min-width: 768px) {
  .comments {
    max-width: 50%;
  }
}
