@import "./variables";

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    background-color: $sky-blue;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: $shadow;

    & textarea {
      border: 1px solid $dark-blue;
      border-radius: 1rem;
      padding: 1rem;
    }
  }
}
