@import "./variables";

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  margin: 1.25rem auto;

  &__wrapper &__line:nth-last-child(1) {
    animation: loadingC 0.7s 0.2s linear infinite;
  }
  &__wrapper &__line:nth-last-child(2) {
    animation: loadingC 0.7s 0.3s linear infinite;
  }
  &__wrapper &__line:nth-last-child(3) {
    animation: loadingC 0.7s 0.4s linear infinite;
  }

  &__line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: $dark-blue;
  }

  &__success {
    font-size: 1.25rem;
    font-weight: 600;
    color: $dark-blue;
  }
}

@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
