@import "../scss/variables.scss";

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem 3rem;

  &__title {
    font-weight: 500;
    font-size: 2rem;
    color: $dark-blue;

    &--font {
      font-family: $amatic;
      font-weight: 700;
      background-color: $sky-blue;
      padding: 0.5rem;
      border: 1px solid $dark-blue;
      margin-right: 0.2rem;
      border-radius: 0.2rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem 0;
  }

  &__link {
    font-size: 1rem;
    font-weight: 600;
    color: $dark-blue;
    transition: 0.5s;

    & a.active {
      border: 1px solid $dark-blue;
      padding: 0.3rem;
      background-color: $sky-blue;
      // font-family: $amatic;
      font-weight: 300;
      // font-size: 1.25rem;
      border-radius: 0.25rem;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    justify-content: space-between;
    flex-direction: row;

    &__links {
      flex-direction: row;
      column-gap: 1.5rem;
    }
  }
}
